
// ** Default
$defaultBg:rgb(29 31 32 / 71%);
$defaultColor:#c8c8c8;
$defaultBroder:#c8c8c8;

// ** Info
$infoBg:rgb(188 192 255 / 8%);
$infoColor:#646cff;
$infoBorder:#646cff;

// ** Warnning
$warningBg:rgb(255 197 23 / 5%);
$warningColor: #fcd253;
$warningBorder: rgba(255, 213, 0, .793);

// ** Error
$errorBg: rgb(192 29 29 / 15%);
$errorColor: #ef8d8dfa;
$errorBorder: rgba(255, 25, 0, .322);

// ** Success
$successBg: rgba(246, 238, 9, .0127);
$successColor: #7acf58d6;
$successBorder: rgba(0, 255,0,.322);

@mixin alert($name, $bg, $color, $border){
    .#{$name}{
        border:2px dotted $border;
        border-radius: .8rem;
        padding: 1.3rem;
        background-color: $bg;
        margin:1.5rem 0;
        color:$color;
        .alert-header{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title{
                display: flex;
                align-items: center;
            }

            svg:first-of-type{
                margin-right: .6rem;
            }
        }
        p{
            margin-top: 1.2rem;
            font-size: .9rem;
            font-weight: 500;
            line-height: 1.5rem;
        }
    }
}

@include alert("alert-default",$defaultBg,$defaultColor ,$defaultBroder );
@include alert("alert-info",$infoBg,$infoColor ,$infoBorder );
@include alert("alert-warning",$warningBg,$warningColor ,$warningBorder );
@include alert("alert-error",$errorBg,$errorColor ,$errorBorder );
@include alert("alert-success",$successBg,$successColor ,$successBorder );